@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }

  ::selection {
    background-color: #e3e3e328;
  }

  :focus {
    outline: #adadad00 auto 1px;
  }

  /* ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #252834;
  }

  ::-webkit-scrollbar-thumb {
    background: #9a9ebb46;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c1c5e046;
  } */
}
